* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0px;
    color: var(--secondary-font-grey);
}


:root {
    --primary-backround-color: rgb(255,255,255);
    --secondary-backround-color: rgb(252,252,252);
    --logo-lila: rgb(204,140,255);
    --button-grey: rgb(245,243,241);
    --green: rgb(30,137,80);
    --font-grey: rgb(36,46,48);
    --secondary-font-grey: rgb(61,77,80);
    --shedow-grey: rgba(0,0,0, 0.2);
    --border-grey:  rgb(219,217,215);
    --backround-hover-grey: rgb(235, 233, 232);
    --space-20: 20px;
    --space-8: 8px;
    --space-4: 4px;

    --feed-sidebar-width: 319px;

}

body {
    font-size: 14px;
}


h1 {
    color: var(--font-grey);
    font-size: 36px;
}


h2 {
    color: var(--font-grey);
    font-size: 24px;
}


h3 {
    font-size: 18px;
    color: var(--font-grey);
}

h4 {
    font-size: 16px;
    color: var(--font-grey);
}


header {
    height: 80px;
    width: 100%;
    background-color: var(--primary-backround-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px var(--space-20) 0px var(--space-20);
}

.main-logo {
    width: 200px;
    height: 70px;
}

.header-button-container {
    display: flex;
}


.header-backround-button {
    display: flex;
    border-radius: 50px;
    justify-content: center;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    margin-left: var(--space-20);
}


.header-backround-button:hover {
    background-color: var(--button-grey);
}


.atf-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}


.restaurant-logo {
    width: 90px;
    height: 90px;
    border: 1px solid var(--border-grey);
    border-radius: 10px;
    background-color: var(--primary-backround-color);
}


.main-container-primary {
    position: relative;
    top: -70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}


.main-container-secondary {
    max-width: 45vw;
    margin: 0 auto;
}


.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.icon-container {
display: flex;
align-items: center;
justify-content: center;
}


.restaurant-info-button {
    display: flex;
    background-color: var(--button-grey);
    border-radius: 50px;
    justify-content: center;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    margin-left: var(--space-20);
}

.restaurant-info-button:hover {
    background-color: var(--backround-hover-grey);
}




.restaurant-likes {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-top: var(--space-20);
}


.restaurant-reviews {
    margin-left: 10px;
    text-decoration: underline;
    cursor: pointer;
}


.restaurant-reviews:hover {
    text-decoration: none;
}


.restaurant-delivery {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
    
}


.restaurant-info {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dot {
    background-color: var(--secondary-font-grey);
    margin-right: 10px;
    width: 5px;
    height: 5px;
    border-radius: 999px;
}


.icon-space {
    margin-right: 3px;
}


.green {
    fill: var(--green);
    color: var(--green);
}


.rastaurant-description {
    margin-top: var(--space-20);
    width: 600px;
}


.rastaurant-categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin-top: var(--space-20);
    padding: 0px;
    color: var(--secondary-font-grey);
}


.grey-backround-button {
    display: flex;
    border-radius: 50px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.grey-backround-button:hover {
    background-color: var(--button-grey);
}